<h1>Front End Masters Instructors</h1>

<!-- only show this button if the user is authenticated and is an admin -->
<button class="btn btn-primary" ui-sref="new-instructor">
  <i class="glyphicon glyphicon-plus"></i> Add Instructor
</button>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="instructor in vm.instructors">
    <div class="container">
      <div class="col-sm-1">
        <img ng-src="{{ vm.getGravatar(instructor.email) }}" alt="Gravatar">
      </div>
      <div class="col-sm-10">
        <h3>{{ instructor.first_name + ' ' + instructor.last_name }}</h3>
        <p><i class="glyphicon glyphicon-envelope"></i> {{ instructor.email }}</p>
        <p><i class="glyphicon glyphicon-briefcase"></i> {{ instructor.company }}</p>
      </div>
    </div>
  </li>
</ul>

<p ng-if="vm.errorMessage">{{ vm.errorMessage }}</p>
