<div class="col-sm-6 col-sm-offset-3">
  <form ng-submit="vm.addInstructor(instructor)">
    <div class="form-group">
      <label for="first_name" class="">First Name</label>
      <input type="text" class="form-control" placeholder="First Name" name="first_name" ng-model="instructor.first_name" required>
    </div>
    <div class="form-group">
      <label for="last_name" class="">Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" name="last_name" ng-model="instructor.last_name" required>
    </div>
    <div class="form-group">
      <label for="email" class="">Email</label>
      <input type="text" class="form-control" placeholder="Email Address" name="email" ng-model="instructor.email" required>
    </div>
    <div class="form-group">
      <label for="company" class="">Company</label>
      <input type="text" class="form-control" placeholder="Company" name="company" ng-model="instructor.company" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
